
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminPage.cshtml";
}
<link rel="stylesheet" href="~/css/Index.css" />
@section head{
    <style type="text/css">
        body {
            background-image: url('/Backgrndimg/admin.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
        }
    </style>
}

<h1 align="center">Welcome To Admin Page</h1>

