
@{
    ViewData["Title"] = "OrderConfirmation";
    Layout = "~/Views/Shared/CustomerPageLayout.cshtml";
}

<input type="submit" value="Customer ID:@ViewBag.uid" />
<link rel="stylesheet" href="~/css/Index.css" />
@section head{
    <style type="text/css">
        body {
            background-image: url('/Backgrndimg/Online.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
        }
    </style>
}
<h4 align="center">Order Placed Successfully</h4>
<form asp-controller="Customer" asp-action="Index">
    <div class="form-group">
        <p1 style="font-size: 20px; font-family: 'Times New Roman', Times, serif;color:red ">
        </p1>   <input type="submit" value="Back" class="btn btn-primary" />
    </div>
</form>