
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/RetailerPage.cshtml";
}
<link rel="stylesheet" href="~/css/Index.css" />
@section head{
    <style type="text/css">
        body {
            background-image: url('/Backgrndimg/Retailer.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
        }
    </style>
}
<input type="submit" value="Retailer Id:@ViewBag.uid" />
<h1 align="center">Welcome To Retailer Page</h1>


<br />

